:root {
  --white-color: #fff;
  --black-color: #000;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mr-4 {
  margin-right: 4px;
}

th,
td {
  text-align: center;
}
