.header__top {
  width: 100%;
  background-color: #202020;
  color: #626262;
  font-size: 1.3rem;
  overflow: hidden;
}

.header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top-left__time {
  font-weight: 500;
  margin-right: 24px;
}

.header-top-left__time-text {
  margin-left: 4px;
}

.header-top-left__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top-left__contact {
  padding: 8px 12px;
  border-left: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
}

.header-top-left__contact:hover {
  cursor: pointer;
}

.header__top-btn {
  height: 100%;
  background-color: transparent;
  color: #626262;
  border-left: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
  padding: 0 12px;
  margin: 0;
}

.header__body {
  background-color: #eaeaea;
  height: 164px;
  width: 100%;
}

.logo-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 100%;
  height: auto;
  max-height: 164px;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.header-body-content__left {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 16px;
}

.header-body-content__left-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #919191;
  padding-left: 16px;
  margin-bottom: 16px;
}

.header-body-content__left-search-wrap {
  width: 100%;
  background-color: #fff;
  border-radius: 999px;
  overflow: hidden;
}

.header-body-content__left-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #919191;
  padding: 8px 16px;
}

.header-body-content__left-search-text {
  height: 100%;
  padding-left: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  outline: none;
}

.header-body-content__left-search-icon {
  padding: 0 8px;
  border-left: 1px solid #f1f1f1;
}

.header-body-content__left-search-icon:hover {
  cursor: pointer;
}

.header-body-content__right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
}

.header__bottom {
  background-color: #68ba8f;
  color: #fff;
  font-weight: 400;
}

.nav-bar-icon {
  display: inline-block;
  font-size: 1.8rem;
  height: 100%;
  padding: 4px;
  margin-right: 24px;
}

.nav-bar-icon:hover {
  cursor: pointer;
}

.nav-bar-icon:last-child {
  margin-right: 0;
}

.navbar {
  padding: 0;
}

.nav-item,
.nav-link {
  height: 100%;
  padding: 0.5rem 1.2rem;
  color: #fff;
}

.nav-item,
.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

.nav-item--active {
  background-color: #36a66d;
}

.nav-item:hover {
  background-color: #36a66d;
}

.header-mobile__icons {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__top,
  .header__body-content {
    display: none;
  }

  .header-mobile__icons {
    display: block;
  }
}

.footer__top {
  padding: 24px 0;
  background-color: #313131;
  color: #7f7f7f;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #3b3b3b;
}

.footer-contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-contact__icon {
  padding: 4px;
  margin-right: 16px;
}

.footer-label {
  width: 100%;
}

.footer-label:hover {
  cursor: pointer;
}

.footer-input-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-input__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  outline: none;
  color: #7f7f7f;
  padding: 8px 16px;
}

.footer-input__btn {
  border: none;
  outline: none;
  color: #fff;
  background-color: #59b586;
  padding: 8px 16px;
}

.footer__body {
  padding: 24px 0;
  background-color: #313131;
  border-bottom: 1px solid #3b3b3b;
}

.footer-info {
  color: #a0a0a0;
  font-size: 1.3rem;
}

.footer-info__icon {
  color: #59b586;
  margin-right: 4px;
}

.footer-info__description,
.footer-info__phone,
.footer-info__mail {
  margin-bottom: 12px;
}

.footer-lists__title {
  font-size: 1.3rem;
  color: #59b586;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.footer-lists__list {
  color: #a0a0a0;
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-lists__item {
  margin-bottom: 16px;
  font-size: 1.1rem;
}

.footer-lists__item:hover {
  cursor: pointer;
}

.footer__bottom {
  padding-top: 24px;
  background-color: #313131;
  color: #b7b7b7;
  font-weight: 500;
}

.footer-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-help__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.footer-help__item {
  margin-right: 8px;
}

.footer-help__item:last-child {
  margin-right: 0;
}

.footer-help__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright {
  margin-top: 24px;
  background-color: #434343;
  text-align: center;
  color: #cfcfcf;
  font-size: 1.2rem;
  padding: 8px 0;
}

@media only screen and (max-width: 991px) {
  .footer-label,
  .footer-contact__text {
    color: #36a66d;
  }

  .footer-input-wrap {
    margin-top: 8px;
  }

  .footer-lists__title {
    font-size: 1.6rem;
  }

  .footer-lists__item {
    font-size: 1.3rem;
  }

  .footer-help {
    display: none;
  }

  .footer__body {
    border: none;
  }

  .footer__bottom {
    padding-top: 0;
  }

  .footer-copyright {
    margin-top: 0;
  }
}

/* Sign up Page */
.main {
  margin: 16px 0 60px 0;
  color: #7f7f7f;
}

.main-flow__current {
  color: #36a66d;
}

.form {
  margin: 60px 0;
}

.form-title {
  color: #36a66d;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.form-control {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.form-check {
  margin-bottom: 40px;
}

.form-btn {
  padding: 8px 32px;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 32px;
  margin-right: 16px;
}

.form-btn:last-child {
  margin-right: 0;
}

/* Login */

.fogotpass-text {
  text-decoration: underline;
  margin-left: 32px;
}

.fogotpass-text:hover {
  cursor: pointer;
  opacity: 0.9;
}

.login-help {
  margin-top: 60px;
}

.login-help__text {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

/* Contact */

.map-img {
  margin: 60px 0;
}

/* Cart */

.cart-title {
  margin: 60px 0;
}
.table-light {
  text-transform: uppercase;
  --bs-table-color: #fff;
  --bs-table-bg: #36a66d;
}

.table-header {
  font-weight: 400;
  font-size: 1.4rem;
}

.table-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.table-text--primary {
  color: #36a66d;
  --bs-table-color-state: #36a66d;
  font-weight: 500;
  text-transform: uppercase;
}

.table-quality {
  border: 1px solid #ccc;
  padding: 12px;
}

.sum-table {
  margin-top: 60px;
}

.table .sum-table-row {
  padding: 16px 0;
  font-weight: 700;
}

.sum-table-price {
  text-transform: lowercase;
}

.table-btn-group {
  margin-top: 30px;
}

/* List product */

.main__content {
  margin-top: 60px;
}

.main-title__wrapper {
  width: 100%;
  height: 36px;
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 32px;
}

.main-title__text {
  display: inline-block;
  height: 100%;
  color: #36a66d;
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: -2px;
  border-bottom: 2px solid #36a66d;
}

.sidebar .main-title__wrapper {
  margin-bottom: 12px;
}

.sidebar__list {
  margin-bottom: 60px;
}

.sidebar__item {
  font-size: 1.4rem;
  font-weight: 500;
  color: #969696;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}

.sidebar__item.active {
  color: #36a66d;
}

.sidebar__item:hover {
  cursor: pointer;
}

.color-table__row {
  margin: 12px 0;
}

.content-wrapper {
  padding-left: 16px;
}

.content__banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content__control {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__control-show {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.control-show-icon {
  margin-right: 16px;
}

.control-show-icon:hover {
  cursor: pointer;
}

.control-show-icon.active {
  color: #36a66d;
}

.content__control-sort {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.select-label {
  color: #000;
  margin-right: 10px;
  font-weight: 500;
}

.form-select {
  padding: 12px;
  max-width: 150px;
  font-size: 1.6rem;
  margin-right: 30px;
}

.form-select:last-child {
  margin-right: 0;
}

.form-select.form-select-small {
  width: 64px;
}

.card:hover {
  cursor: pointer;
}

.card-img {
  width: 100%;
  position: relative;
}

.card-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #5e5e5e;
  display: none;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.card-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-btn {
  outline: none;
  border: none;
  font-size: 1.6rem;
  border-radius: 999px;
  display: none;
  animation-name: fade;
  animation-duration: 0.3s;
}

.btn-custom {
  background-color: #3fb871;
  color: white;
  padding: 16px;
  height: unset;
  width: unset;
}

.btn-custom:hover {
  color: white;
  opacity: 0.9;
  background-color: #3fb871;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-rate {
  color: #febf01;
  font-size: 1.2rem;
}

.card-price {
  color: #ef4147;
  font-weight: 500;
}

.card-supprice {
  font-size: 1.2rem;
  color: #b5b5b5;
  text-decoration: line-through;
  margin-left: 4px;
}

.card-status {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-status--news {
  background-color: #36a66d;
}

.card-status--sale {
  background-color: #d64146;
}

.card:hover .card-img::before,
.card:hover .card-btn {
  display: inline-block;
}

.col-4 .btn-custom,
.product-special .btn-custom {
  padding: 12px;
}

.col-4 .card-btns,
.product-special .card-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-wrapper {
  margin-top: 16px;
}

.grid-wrapper .col-4 {
  padding: 0 16px;
  margin-bottom: 32px;
}

.grid-wrapper .row {
  margin-top: 32px;
}

.pagination {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-link {
  color: #7f7f7f;
  font-size: 1.6rem;
  padding: 8px 16px;
  margin: 0 16px;
}

.page-link.active {
  background-color: #36a66d;
}

.page-link:hover {
  background-color: #36a66d;
  color: #fff;
}

.list-wrapper {
  margin-top: 16px;
  display: none;
}

.list-wrapper .card {
  margin: 16px 0;
}

.list-wrapper .card-body {
  align-items: flex-start;
}

.list-wrapper .card-name,
.list-wrapper .card-price {
  font-size: 2rem;
  margin-bottom: 8px;
}

.list-wrapper .card-description {
  margin: 8px 0 16px 0;
  font-size: 1.4rem;
  color: #626262;
}

.list-wrapper .card-btns {
  position: unset;
  display: block;
}

.list-wrapper .card-btn {
  display: inline-block;
  padding: 16px 32px;
  margin-right: 16px;
}

.list-wrapper .card-icon {
  padding: 0;
  height: 60px;
  width: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Home */

.home__section {
  margin-top: 60px;
}

.carousel-item {
  animation-name: fade;
  animation-duration: 1.5s;
}

.carousel-control {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control__btn {
  height: 12px;
  width: 12px;
  border-radius: 999px;
  background-color: #fff;
  margin-right: 8px;
}

.carousel-control__btn.active,
.carousel-control__btn:hover {
  background-color: #68ba8f;
  cursor: pointer;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.product-special .card {
  margin: 16px;
}

.list-product .card {
  padding: 18px;
}

.list-product .card-body {
  align-items: flex-start;
}

.grid-product .row {
  margin-bottom: 14px;
}

.main-title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title__icons {
  display: flex;
  align-items: center;
}

.main-title__icon {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.main-title__icon:hover {
  cursor: pointer;
}

.main-title__icon:last-child {
  margin-right: 0;
}

.home__news {
  margin-bottom: 60px;
}

.home__news .card {
  border-color: transparent;
}

.home__news .card:hover {
  cursor: unset;
  border-color: #ccc;
}

.home__news .card-body {
  align-items: flex-start;
}

.home__news .card-subtitle {
  color: #a0a0a0;
  margin: 16px 0;
}

.home__news .card-title {
  color: #36a66d;
  font-weight: 700;
  margin-bottom: 8px;
}

.home__news .card-text {
  color: #a0a0a0;
  font-size: 1.4rem;
}

.home__news .card-link {
  text-decoration: none;
  color: #36a66d;
  font-size: 1.2rem;
}

@media only screen and (max-width: 991px) {
  .card-status {
    font-size: 1.4rem;
  }

  .card-small .card-status,
  .card-small .card-btns {
    display: none;
  }

  .grid-product .card {
    margin-bottom: 16px;
  }

  .home__news {
    display: none;
  }

  .product-sale {
    margin-top: 60px;
  }
}

/* Event */

.sidebar__item-event {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1.4rem;
  margin-bottom: 24px;
}

.sidebar__item-img {
  width: 33.33%;
  height: auto;
  margin-right: 8px;
}

.blog-table {
  display: flex;
  flex-wrap: wrap;
}

.blog-table__item {
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin: 0 16px 16px 0;
}

.blog-table__item.big-pad {
  padding: 8px 24px;
}

.blog-table__item.active {
  background-color: #36a66d;
  color: #fff;
}

.event-item {
  margin-bottom: 60px;
}

.event-item:last-child {
  margin-bottom: 0;
}

.event-item__title {
  margin-bottom: 16px;
  color: #000;
}

.event-status__icon {
  color: #36a66d;
  margin-right: 8px;
}

.event-status__text {
  color: #969696;
  margin-right: 16px;
}

.event-item__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 16px 0;
}

.event-item__description {
  margin: 16px 0;
  font-size: 1.4rem;
}

/* Event detail */

.comment {
  margin-top: 80px;
}
.comment__title {
  font-weight: 700;
  text-transform: uppercase;
}

.comment-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 32px;
  margin-top: 32px;
}

.comment-item__avatar {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.comment-item__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding: 16px;
}

.comment-item__body {
  display: flex;
  padding-bottom: 32px;
}

.comment-item-body__content {
  flex: 1;
}

.comment-item-body__name {
  margin-bottom: 16px;
}

.comment-item-body__text,
.comment-item-body__subtext {
  font-size: 1.4rem;
  color: #7f7f7f;
}

.comment-item-body__link {
  font-weight: 500;
  font-size: 1.4rem;
  color: #626262;
}

.comment-item-body__link:hover {
  color: #7f7f7f;
}

.sub-comments {
  margin-top: 32px;
  border-top: 1px solid #ccc;
}

.sub-comment {
  padding-top: 32px;
}

.sub-comment .comment-item__body {
  padding: 0;
  border: none;
}

.comment__user-comment {
  margin-top: 32px;
}

.form-floating > label {
  font-size: 2rem;
  left: 20px;
  top: 20%;
  color: #000;
  background-color: transparent;
}

.form-floating > .form-control:focus + label {
  font-size: 1.5rem;
  left: 0;
  top: 0;
}

.form-floating > .form-control {
  font-size: 1.5rem;
  height: 40px;
  padding: 16px;
  line-height: 1.5rem;
  height: 60px;
}

.form-floating > .textarea {
  height: 154px;
  padding-top: 32px !important;
}

.comment-btn {
  padding: 12px 64px;
}

/* Product detail */

.product-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-imgs {
  margin-top: 24px;
}

.product-body {
  margin-left: 16px;
}

.product-part {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.product-name {
  color: #000;
}

.product-rate {
  color: #f7bb40;
  font-size: 1.2rem;
  margin-top: 16px;
}

.product-price {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: red;
}

.product-supprice {
  font-size: 1.4rem;
  color: #969696;
  text-decoration: line-through;
  margin-left: 16px;
}

.product-description {
  font-size: 1.4rem;
}

.product-qua {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product-qua__title {
  color: #000;
  margin-right: 32px;
}

.product-qua__btn {
  padding: 12px 20px;
  color: #000;
  font-weight: 500;
  margin-right: 8px;
  border: 1px solid #ccc;
}

.product-qua__btn.big-padding {
  padding: 12px 32px;
}

.product-qua__btn:hover {
  color: #fff;
  background-color: #36a66d;
  cursor: pointer;
}

.product-btns .btn {
  border-radius: 999px;
  font-size: 1.6rem;
  margin-right: 16px;
  padding: 12px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.product-btns .btn-custom {
  padding: 12px 32px;
  background-color: #36a66d;
  border: none;
}

.product-tags {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.product-tag {
  display: flex;
  align-items: center;
}

.product-tag__item {
  display: flex;
  align-items: center;
  display: inline-block;
  color: #fff;
  padding: 0 8px;
  font-weight: 500;
}

.product-tag__item:hover {
  cursor: pointer;
}

.product-tag__item-facebook {
  background-color: #4a67b6;
}

.product-tag__item-twitter {
  background-color: #1b94e0;
}

.product-tag__item-google {
  background-color: #fff;
  color: #e06258;
  border: 1px solid #ccc;
  margin-left: 8px;
}

.product-tag__item-share {
  background-color: #fd6d4b;
  margin-left: 60px;
}

.product-tag__badge {
  padding: 0 8px;
  border: 1px solid #000;
  position: relative;
  margin: 0 8px;
}

.product-tag__badge-icon {
  position: absolute;
  left: -28%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #000;
  border-right: 1px solid #fff;
}

.product-tabs {
  margin-top: 160px;
  width: 100%;
}
.product-tabs__header {
  width: 100%;
  display: flex;
  align-items: center;
}

.product-tabs__header-title {
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 80px 12px 80px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.product-tabs__header-title:last-child {
  flex: 1;
}

.product-tabs__header-title.active {
  color: #36a66d;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 3px solid #7d7d7d;
}

.product-tabs__body {
  padding: 60px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.product-tabs__body-description {
  color: #3b3b3b;
  margin-bottom: 16px;
  font-size: 1.4rem;
}

.product-tabs__body-description:last-child {
  margin-bottom: 0;
}

.product-same {
  margin-top: 60px;
}

/* Popup */

.popup {
  background-color: #f1eeeb;
  max-height: 400px;
  max-width: 800px;
  margin: 60px auto;
  position: relative;
  color: #626262;
}

.popup__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.popup__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup .form {
  margin: 0;
}

.popup__title {
  font-weight: 400;
  font-size: 2.4rem;
}

.popup-label {
  font-weight: 700;
  font-size: 2.4rem;
  color: #36a66d;
  margin-bottom: 30px;
}

.popup__description {
  margin-top: 16px;
  margin-bottom: 30px;
}

.popup__icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 16px;
  color: #36a66d;
  font-size: 2rem;
}

.popup__icon:hover {
  cursor: pointer;
}
